.stories-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    /* border: 1px solid #dbdbdb; */
    /* background-color: #fff; */
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .story {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    text-align: center;
  }
  
  .story-img {
    width: 60px;
    height: 60px;
    border: 2px solid #dbdbdb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 30px;
    background: #fafafa;
  }
  
  .story-username {
    font-size: 12px;
    margin-top: 5px;
    white-space: nowrap;
  }
  