.App {
  /* background-color: #fafafa; */
  background-color: #FFFFFF;
  min-height: 100vh;
}

.main-content {
  display: flex;
  justify-content: center;
  padding: 5px;
}

/* Feed area narrower than the full width */
.feed-section {
  width: 600px; 
  margin-top: 70px;
}

/* Hide sidebar on smaller screens */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
